/* CSS written by Hannah Groves*/
/* GLOBAL STYLES (MOBILE FIRST)*/
/* Color palette
#41151C
#D3BBAF
#FFFAE0
#fad5cc
#BEB37D
*/

* {
    margin: 0;
    padding: 0; 
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}
    /*learned adding fonts at https://stackoverflow.com/questions/12144000/using-custom-fonts-using-css*/


body {
    display: grid;
    background-color: #FFFAE0;
    font-family: 'Arial', sans-serif;
    color: #41151C;
    text-align: center;
}

header {
    background-image: url('assets/plum.jpg');
    background-size: 100%;
    background-position:center;
    padding: 4rem;
}

h1{
  font-size: 6em;
  font-family: 'Tangerine', cursive;
  color: #FFFAE0;
  text-shadow: 3px 3px 2px #41151C;
}

nav, footer {
    background-color: #BEB37D;
    padding: 2rem;
}

nav ul {
  list-style: none;
  font-size: 1.5em;
  font-family: 'serif';
}

nav a {
  text-decoration: none;
  color: #41151C;
  background-color: #fad5cc;
  width: auto;
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 25px;
  /*learned border radius at https://www.w3schools.com/css/css3_borders.asp*/
}

nav a:hover {
  background-color: #41151C;
  color: #fad5cc;
}

h2 {
    font-size: 1.5em;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: underline;
  font-family: 'serif';
}

section {
    padding: 1.25rem;
    border-bottom: 5px solid #41151C;
}

section p {
    padding: 1rem;
    margin: 1rem;
}

p a {
    color: #BEB37D;
    text-decoration: underline;
}

p a:hover {
    color: #D3BBAF;
    text-decoration: none;
}

img, video {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    border: 5px solid #41151C;
    padding: .5rem;
    margin: .5rem;
}



@media screen and (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    nav a {
        width: 200px;
    }

    header, nav, footer {
        grid-column: 1/3;
        text-align: center;
    }

    .card-row {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .card-row > section {
         flex: 1 1rem;
    }
}